@use "./base" as *;

.wp-block-post-comments-form {
  .comment-form-author,
  .comment-form-email,
  .comment-form-url,
  .comment-form-comment {
    label {
      display: block;
      margin-bottom: var(--wp--preset--spacing--xxs);
      font-size: var(--wp--preset--font-size--sm);
    }
  }

  input:not([type="submit"]):not([type="checkbox"]),
  textarea {
    border: 0;
    background-color: var(--wp--preset--color--bg);
    color: inherit;
    line-height: calc(
      var(--wp--custom--line-height-body) *
        var(--wp--custom--line-height-multiplier, 1)
    );
    padding: var(--wp--preset--spacing--xxs) var(--wp--preset--spacing--xs);
    border-radius: var(--wp--custom--radius-md);
    box-shadow: inset 0 0 0 1px var(--wp--preset--color--contrast-lower);
  }
}
