@use "../blocks/author/editor" as author;
@use "../blocks/button/editor" as button;
@use "../blocks/cover/editor" as cover;
@use "../blocks/embed/editor" as embed;
@use "../blocks/featured-image/editor" as featured-image;
@use "../blocks/gallery/editor" as gallery;
@use "../blocks/image/editor" as image;
@use "../blocks/media-text/editor" as media-text;
@use "../blocks/navigation/editor" as navigation;
@use "../blocks/pagination/editor" as pagination;
@use "../blocks/post-comments-form/editor" as post-comments-form;
@use "../blocks/post-navigation/editor" as post-navigation;
@use "../blocks/post-terms/editor" as post-terms;
@use "../blocks/quote/editor" as quote;
@use "../blocks/search/editor" as search;
@use "../blocks/term-description/editor" as term-description;
@use "../blocks/video/editor" as video;
