.is-root-container,
.edit-post-visual-editor__post-title-wrapper {
	padding-left: var(--wp--preset--spacing--component-padding);
	padding-right: var(--wp--preset--spacing--component-padding);

	> .alignfull {
		margin-left: calc(-1 * var(--wp--preset--spacing--component-padding));
		margin-right: calc(-1 * var(--wp--preset--spacing--component-padding));
	}
}
