.wp-block-image {

	&.is-style-rounded {

		img {
			border-radius: var(--wp--custom--radius-md);
		}

		.wp-element-caption {
			border-bottom-left-radius: var(--wp--custom--radius-md);
			border-bottom-right-radius: var(--wp--custom--radius-md);
		}
	}

	&.is-style-pill {

		img {
			border-radius: 9999px;
		}
	}
}
