.wp-block-quote {
  margin-block-start: var(--wp--preset--spacing--40);

  &.wp-block-quote.is-style-large {
    padding-left: 0;
    padding-right: 0;

    p {
      font-style: normal;
      font-size: var(--wp--preset--font-size--xl);
    }
  }
}
