@use "./base" as *;

.wp-block-navigation.has-text-decoration-underline
  .wp-block-navigation-item__content,
.wp-block-navigation.has-text-decoration-underline
  .wp-block-navigation-item__content:active,
.wp-block-navigation.has-text-decoration-underline
  .wp-block-navigation-item__content:focus {
  &:hover {
    text-decoration-thickness: 2px;
  }
}

.entry-content {
  .wp-block-navigation:where(:not([class*="has-text-decoration"])) {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration-thickness: 2px;
      }
    }
  }
}
