@media (min-width: 64rem) {
  .editor-styles-wrapper.editor-styles-wrapper {
    --wp--preset--font-size--base: 1.25rem;
    --wp--preset--spacing--unit: 1.25rem;
    --wp--custom--text-scale-ratio: 1.25;
  }
}
.editor-styles-wrapper.editor-styles-wrapper * {
  box-sizing: border-box;
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-post-title {
  font-size: var(--wp--preset--font-size--xxxl);
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-paragraph {
  line-height: 1.58;
}
.editor-styles-wrapper.editor-styles-wrapper p,
.editor-styles-wrapper.editor-styles-wrapper html :where(.editor-styles-wrapper) p {
  font-size: var(--wp--preset--font-size--base);
}
@media (max-width: 80rem) {
  .editor-styles-wrapper.editor-styles-wrapper .is-root-container > *:not(.alignfull),
.editor-styles-wrapper.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper {
    padding-left: var(--wp--preset--spacing--component-padding);
    padding-right: var(--wp--preset--spacing--component-padding);
  }
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-button.is-style-outline {
  color: var(--wp--preset--color--contrast-high);
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-button.is-style-underline > .wp-block-button__link {
  background-color: transparent;
  color: var(--wp--preset--color--contrast-high);
  text-decoration: 1px underline;
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-embed.is-style-rounded .wp-block-embed__wrapper {
  border-radius: var(--wp--custom--radius-md);
  overflow: hidden;
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-embed {
  margin-top: var(--wp--preset--spacing--component-padding);
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-post-featured-image img {
  border-radius: inherit;
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-gallery.has-nested-images figure.wp-block-image figcaption,
.editor-styles-wrapper.editor-styles-wrapper .wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded figcaption.wp-element-caption {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7019607843), rgba(0, 0, 0, 0.3019607843) 70%, rgba(0, 0, 0, 0));
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 13px;
  left: 0;
  margin-bottom: 0;
  max-height: 60%;
  overflow: auto;
  padding: 0 8px 8px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-image.is-style-rounded img {
  border-radius: var(--wp--custom--radius-md);
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-image.is-style-pill img {
  border-radius: 9999px;
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-image {
  margin-block-start: var(--wp--preset--spacing--component-padding);
}
@media (min-width: 600px) {
  .editor-styles-wrapper.editor-styles-wrapper .wp-block-navigation {
    font-size: 1.125rem;
  }
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-query-pagination.is-style-buttons .page-numbers,
.editor-styles-wrapper.editor-styles-wrapper .wp-block-query-pagination.is-style-buttons .wp-block-query-pagination-previous,
.editor-styles-wrapper.editor-styles-wrapper .wp-block-query-pagination.is-style-buttons .wp-block-query-pagination-next {
  background-color: var(--wp--preset--color--contrast-lower);
  color: var(--wp--preset--color--contrast-high);
  text-decoration: none;
  border-radius: var(--wp--custom--radius-lg);
  padding: var(--wp--preset--spacing--xxxs) var(--wp--preset--spacing--xs);
  display: inline-block;
  margin: 0;
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-post-terms.is-style-buttons, .editor-styles-wrapper.editor-styles-wrapper .wp-block-post-terms.is-style-outline {
  display: inline-flex;
  gap: 4px;
  flex-wrap: wrap;
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-post-terms.is-style-buttons, .editor-styles-wrapper.editor-styles-wrapper .wp-block-post-terms.is-style-outline {
  background-color: var(--wp--preset--color--contrast-lower);
  color: var(--wp--preset--color--contrast-high);
  text-decoration: none;
  border-radius: 9999px;
  padding: var(--wp--preset--spacing--xxxs) var(--wp--preset--spacing--xs);
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-post-terms.is-style-buttons::after, .editor-styles-wrapper.editor-styles-wrapper .wp-block-post-terms.is-style-outline::after {
  content: "";
  display: block;
}
.editor-styles-wrapper.editor-styles-wrapper .wp-block-post-terms.is-style-outline {
  background-color: transparent;
  color: var(--wp--preset--color--contrast-high);
  border: 2px solid var(--wp--preset--color--contrast-low);
  padding: var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxs);
}
