* {
  box-sizing: border-box;
}

.has-text-color > a {
  color: inherit;
}

@media (min-width: 64rem) {
  body {
    --wp--preset--font-size--base: 1.25rem;
    --wp--preset--spacing--unit: 1.25rem;
    --wp--custom--text-scale-ratio: 1.25;
  }
}
.entry-content :not(.wp-block-code) > code {
  background-color: var(--wp--preset--color--contrast-lower);
  padding: var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxxxs);
  border-radius: var(--wp--custom--radius-sm);
}

.icon {
  --size: 1em;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  color: inherit;
  fill: currentcolor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.wp-site-blocks {
  padding-left: var(--wp--preset--spacing--component-padding);
  padding-right: var(--wp--preset--spacing--component-padding);
}
.wp-site-blocks > .site-header,
.wp-site-blocks > .site-footer {
  margin-left: calc(-1 * var(--wp--preset--spacing--component-padding));
  margin-right: calc(-1 * var(--wp--preset--spacing--component-padding));
}
.wp-site-blocks .alignfull {
  width: unset;
  margin-left: calc(-1 * var(--wp--preset--spacing--component-padding)) !important;
  margin-right: calc(-1 * var(--wp--preset--spacing--component-padding)) !important;
}
.wp-site-blocks .alignfull.wp-block-post-content {
  margin-left: auto !important;
  margin-right: auto !important;
}

[class*=radius-] > img {
  border-radius: inherit;
}

@media (max-width: 600px) {
  .entry-content .alignright,
.entry-content .alignleft {
    float: none;
    margin-inline-start: 0;
  }
}
.wp-element-caption,
.wp-block-image figcaption,
.blocks-gallery-caption,
.wp-block-embed figcaption {
  font-size: var(--wp--preset--font-size--sm);
  margin-bottom: 0;
  color: var(--wp--preset--color--contrast-medium);
}

.wp-block-image figcaption {
  margin-top: var(--wp--preset--spacing--xs);
}

.radius-sm {
  border-radius: var(--wp--custom--radius-sm);
}

.radius-md {
  border-radius: var(--wp--custom--radius-md);
}

.radius-lg {
  border-radius: var(--wp--custom--radius-lg);
}

.radius-50\% {
  border-radius: 50%;
}

.shadow-xs {
  box-shadow: var(--wp--custom--shadow-xs);
}

.shadow-sm {
  box-shadow: var(--wp--custom--shadow-sm);
}

.shadow-md {
  box-shadow: var(--wp--custom--shadow-md);
}

.shadow-lg {
  box-shadow: var(--wp--custom--shadow-lg);
}

.shadow-xl {
  box-shadow: var(--wp--custom--shadow-xl);
}

.shadow-none {
  box-shadow: none;
}

.text-nowrap {
  white-space: nowrap;
}

.margin-0 {
  margin: 0;
}

.is-hidden {
  display: none;
}

@media (max-width: 781px) {
  .is-hidden-on-mobile {
    display: none;
  }
}

@media (min-width: 782px) {
  .is-hidden-on-desktop {
    display: none;
  }
}

.wp-block-post-author .avatar, .wp-block-post-author__avatar {
  border-radius: inherit;
}
.wp-block-post-author__avatar {
  display: inline-flex;
}
.wp-block-post-author.is-content-hidden .wp-block-post-author__avatar {
  margin-right: 0;
}
.wp-block-post-author.is-content-hidden .wp-block-post-author__content {
  display: none;
}

.wp-block-button.is-style-outline {
  color: var(--wp--preset--color--contrast-high);
}
.wp-block-button.is-style-underline > .wp-block-button__link {
  background-color: transparent;
  color: var(--wp--preset--color--contrast-high);
  text-decoration: 1px underline;
}

.wp-block-button.is-style-underline .wp-block-button__link:hover {
  text-decoration-thickness: 2px;
}
.wp-block-button__link:active, .wp-block-button__link:focus, .wp-block-button__link:hover, .wp-block-button__link:visited {
  color: inherit;
}

.wp-block-embed.is-style-rounded .wp-block-embed__wrapper {
  border-radius: var(--wp--custom--radius-md);
  overflow: hidden;
}

.wp-block-post-featured-image > a,
.wp-block-post-featured-image > img,
.wp-block-post-featured-image > a > img {
  border-radius: inherit;
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption,
.wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded figcaption.wp-element-caption {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7019607843), rgba(0, 0, 0, 0.3019607843) 70%, rgba(0, 0, 0, 0));
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 13px;
  left: 0;
  margin-bottom: 0;
  max-height: 60%;
  overflow: auto;
  padding: 0 8px 8px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.wp-block-image.is-style-rounded img {
  border-radius: var(--wp--custom--radius-md);
}
.wp-block-image.is-style-pill img {
  border-radius: 9999px;
}

@media (min-width: 600px) {
  .wp-block-navigation {
    font-size: 1.125rem;
  }
}
.wp-block-navigation.has-text-decoration-underline .wp-block-navigation-item__content:hover,
.wp-block-navigation.has-text-decoration-underline .wp-block-navigation-item__content:active:hover,
.wp-block-navigation.has-text-decoration-underline .wp-block-navigation-item__content:focus:hover {
  text-decoration-thickness: 2px;
}

.wp-block-query-pagination.is-style-buttons .page-numbers,
.wp-block-query-pagination.is-style-buttons .wp-block-query-pagination-previous,
.wp-block-query-pagination.is-style-buttons .wp-block-query-pagination-next {
  background-color: var(--wp--preset--color--contrast-lower);
  color: var(--wp--preset--color--contrast-high);
  text-decoration: none;
  border-radius: var(--wp--custom--radius-lg);
  padding: var(--wp--preset--spacing--xxxs) var(--wp--preset--spacing--xs);
  display: inline-block;
  margin: 0;
}

.wp-block-query-pagination.is-style-buttons .page-numbers:hover,
.wp-block-query-pagination.is-style-buttons .wp-block-query-pagination-previous:hover,
.wp-block-query-pagination.is-style-buttons .wp-block-query-pagination-next:hover {
  text-decoration: none;
}
.wp-block-query-pagination.is-style-buttons .page-numbers.current {
  background-color: var(--wp--preset--color--contrast-high);
  color: var(--wp--preset--color--contrast-lower);
}

.wp-block-post-terms.is-style-buttons, .wp-block-post-terms.is-style-outline {
  display: inline-flex;
  gap: 4px;
  flex-wrap: wrap;
}

.wp-block-post-terms.is-style-buttons a, .wp-block-post-terms.is-style-outline a {
  background-color: var(--wp--preset--color--contrast-lower);
  color: var(--wp--preset--color--contrast-high);
  text-decoration: none;
  border-radius: 9999px;
  padding: var(--wp--preset--spacing--xxxs) var(--wp--preset--spacing--xs);
  display: inline-block;
}
.wp-block-post-terms.is-style-buttons .wp-block-post-terms__separator, .wp-block-post-terms.is-style-outline .wp-block-post-terms__separator {
  display: none;
}
.wp-block-post-terms.is-style-outline a {
  background-color: transparent;
  color: var(--wp--preset--color--contrast-high);
  border: 2px solid var(--wp--preset--color--contrast-low);
  padding: var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxs);
}

.wp-block-quote.is-style-plain {
  border: 0;
}

.wp-block-quote.is-large:not(.is-style-plain) p,
.wp-block-quote.is-style-large:not(.is-style-plain) p {
  font-style: normal;
  font-size: var(--wp--preset--font-size--xl);
}

.wp-block-search {
  max-width: 100%;
}
.wp-block-search__button {
  background: none;
}
.wp-block-search__button.has-icon {
  margin: 0;
  border: 0;
  padding: var(--wp--preset--spacing--xxxxs);
}
.wp-block-search__inside-wrapper {
  background-color: var(--wp--preset--color--white);
  padding: var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxxs);
}
.wp-block-search__input {
  background: none;
}

.is-menu-open.has-modal-open .wp-block-search {
  width: 100%;
}
