* {
  box-sizing: border-box;
}

.has-text-color h1,
.has-text-color h2,
.has-text-color h3,
.has-text-color h4,
.has-text-color h5,
.has-text-color h6,
.has-text-color a:not(.wp-element-button) {
  color: inherit;
}

@media (min-width: 64rem) {
  body {
    --wp--preset--font-size--base: 1.25rem;
    --wp--preset--spacing--unit: 1.25rem;
    --wp--custom--text-scale-ratio: 1.25;
  }
}
.entry-content :not(.wp-block-code) > code {
  background-color: var(--wp--preset--color--contrast-lower);
  padding: var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxxxs);
  border-radius: var(--wp--custom--radius-sm);
}

.icon {
  --size: 1em;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  color: inherit;
  fill: currentcolor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

[class*=radius-] > img {
  border-radius: inherit;
}

@media (max-width: 600px) {
  body .is-layout-constrained > .alignright,
body .is-layout-constrained > .alignleft {
    float: none;
  }
  body .is-layout-constrained > .alignleft {
    margin-inline-end: 0;
  }
  body .is-layout-constrained > .alignright {
    margin-inline-start: 0;
  }
}
.wp-element-caption,
.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-gallery figcaption,
.wp-block-image figcaption,
.wp-block-table figcaption,
.wp-block-video figcaption {
  margin-bottom: 0;
  color: var(--wp--preset--color--contrast-medium);
  font-size: var(--wp--preset--font-size--sm);
}
.wp-element-caption a,
.wp-block-audio figcaption a,
.wp-block-embed figcaption a,
.wp-block-gallery figcaption a,
.wp-block-image figcaption a,
.wp-block-table figcaption a,
.wp-block-video figcaption a {
  color: inherit;
}

.wp-element-caption,
.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-image figcaption,
.wp-block-table figcaption,
.wp-block-video figcaption {
  margin-top: var(--wp--preset--spacing--xxs);
}

.wp-block-gallery figcaption {
  margin-top: calc(-1 * var(--wp--style--block-gap) + var(--wp--preset--spacing--xxs));
}

.radius-sm {
  border-radius: var(--wp--custom--radius-sm);
}

.radius-md {
  border-radius: var(--wp--custom--radius-md);
}

.radius-lg {
  border-radius: var(--wp--custom--radius-lg);
}

.radius-50\% {
  border-radius: 50%;
}

.shadow-xs {
  box-shadow: var(--wp--custom--shadow-xs);
}

.shadow-sm {
  box-shadow: var(--wp--custom--shadow-sm);
}

.shadow-md {
  box-shadow: var(--wp--custom--shadow-md);
}

.shadow-lg {
  box-shadow: var(--wp--custom--shadow-lg);
}

.shadow-xl {
  box-shadow: var(--wp--custom--shadow-xl);
}

.shadow-none {
  box-shadow: none;
}

.text-nowrap {
  white-space: nowrap;
}

.margin-0 {
  margin: 0;
}

.is-hidden {
  display: none;
}

@media (max-width: 781px) {
  .is-hidden-on-mobile {
    display: none;
  }
}

@media (min-width: 782px) {
  .is-hidden-on-desktop {
    display: none;
  }
}

.wp-block-post-author .avatar, .wp-block-post-author__avatar {
  border-radius: inherit;
}
.wp-block-post-author__avatar {
  display: inline-flex;
}
.wp-block-post-author.is-content-hidden .wp-block-post-author__avatar {
  margin-right: 0;
}
.wp-block-post-author.is-content-hidden .wp-block-post-author__content {
  display: none;
}

.wp-block-button.is-style-outline {
  color: var(--wp--preset--color--contrast-high);
}
.wp-block-button.is-style-underline > .wp-block-button__link {
  background-color: transparent;
  color: var(--wp--preset--color--contrast-high);
  text-decoration: 1px underline;
}

.wp-block-button {
  color: var(--wp--preset--color--bg);
}
.wp-block-button__link:active, .wp-block-button__link:focus, .wp-block-button__link:hover, .wp-block-button__link:visited {
  color: inherit;
}
.wp-block-button__link:hover {
  opacity: 0.9;
}
.wp-block-button.is-style-underline .wp-block-button__link:hover {
  text-decoration-thickness: 2px;
  opacity: 1;
}

.wp-block-cover.is-style-rounded {
  border-radius: var(--wp--custom--radius-md);
  overflow: hidden;
}

.wp-block-embed.is-style-rounded .wp-block-embed__wrapper {
  border-radius: var(--wp--custom--radius-md);
  overflow: hidden;
}

.wp-block-post-featured-image > a:hover {
  opacity: 0.9;
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption,
.wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded figcaption.wp-element-caption {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7019607843), rgba(0, 0, 0, 0.3019607843) 70%, rgba(0, 0, 0, 0));
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: var(--wp--preset--font-size--sm);
  left: 0;
  margin-bottom: 0;
  max-height: 60%;
  overflow: auto;
  padding: 0 8px 8px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.wp-block-gallery.is-style-diamond {
  transform: scale(0.71) rotate(-45deg);
}
.wp-block-gallery.is-style-diamond .wp-block-image {
  aspect-ratio: 1;
  overflow: hidden;
}
.wp-block-gallery.is-style-diamond .wp-block-image img {
  transform: scale(1.414) rotate(45deg);
}

.wp-block-image.is-style-rounded img {
  border-radius: var(--wp--custom--radius-md);
}
.wp-block-image.is-style-rounded .wp-element-caption {
  border-bottom-left-radius: var(--wp--custom--radius-md);
  border-bottom-right-radius: var(--wp--custom--radius-md);
}
.wp-block-image.is-style-pill img {
  border-radius: 9999px;
}

@media (min-width: 601px) {
  .wp-block-media-text.is-style-overlap:not(.has-media-on-the-right) .wp-block-media-text__content {
    margin-left: -13rem;
  }
}
.wp-block-media-text.is-style-overlap.has-media-on-the-right .wp-block-media-text__content {
  position: relative;
  margin-right: -13rem;
}

@media (min-width: 600px) {
  .wp-block-navigation {
    font-size: 1.125rem;
  }
}
.wp-block-navigation.has-text-decoration-underline .wp-block-navigation-item__content:hover,
.wp-block-navigation.has-text-decoration-underline .wp-block-navigation-item__content:active:hover,
.wp-block-navigation.has-text-decoration-underline .wp-block-navigation-item__content:focus:hover {
  text-decoration-thickness: 2px;
}

.wp-block-query-pagination.is-style-buttons .page-numbers,
.wp-block-query-pagination.is-style-buttons .wp-block-query-pagination-previous,
.wp-block-query-pagination.is-style-buttons .wp-block-query-pagination-next {
  background-color: var(--wp--preset--color--contrast-lower);
  color: var(--wp--preset--color--contrast-high);
  text-decoration: none;
  border-radius: var(--wp--custom--radius-lg);
  padding: var(--wp--preset--spacing--xxxs) var(--wp--preset--spacing--xs);
  display: inline-block;
  margin: 0;
}

.wp-block-query-pagination.is-style-buttons .page-numbers:hover,
.wp-block-query-pagination.is-style-buttons .wp-block-query-pagination-previous:hover,
.wp-block-query-pagination.is-style-buttons .wp-block-query-pagination-next:hover {
  text-decoration: none;
}
.wp-block-query-pagination.is-style-buttons .page-numbers.current {
  background-color: var(--wp--preset--color--contrast-high);
  color: var(--wp--preset--color--contrast-lower);
}
.wp-block-query-pagination.is-style-buttons a:hover {
  opacity: 0.9;
}

.wp-block-post-comments-form .comment-form-author label,
.wp-block-post-comments-form .comment-form-email label,
.wp-block-post-comments-form .comment-form-url label,
.wp-block-post-comments-form .comment-form-comment label {
  display: block;
  margin-bottom: var(--wp--preset--spacing--xxs);
  font-size: var(--wp--preset--font-size--sm);
}
.wp-block-post-comments-form input:not([type=submit]):not([type=checkbox]),
.wp-block-post-comments-form textarea {
  border: 0;
  background-color: var(--wp--preset--color--bg);
  color: inherit;
  line-height: calc(var(--wp--custom--line-height-body) * var(--wp--custom--line-height-multiplier, 1));
  padding: var(--wp--preset--spacing--xxs) var(--wp--preset--spacing--xs);
  border-radius: var(--wp--custom--radius-md);
  box-shadow: inset 0px 0px 0px 1px var(--wp--preset--color--contrast-lower);
}

.post-nav-links {
  display: flex;
  align-items: center;
  gap: var(--wp--preset--spacing--xxxs);
}
.post-nav-links .post-page-numbers {
  background-color: var(--wp--preset--color--contrast-lower);
  color: var(--wp--preset--color--contrast-high);
  text-decoration: none;
  border-radius: var(--wp--custom--radius-lg);
  padding: var(--wp--preset--spacing--xxxs) var(--wp--preset--spacing--xs);
  display: inline-block;
  margin: 0;
}
.post-nav-links .post-page-numbers.current {
  background-color: var(--wp--preset--color--contrast-high);
  color: var(--wp--preset--color--contrast-lower);
}
.post-nav-links a:hover {
  opacity: 0.9;
}

.wp-block-post-terms.is-style-buttons, .wp-block-post-terms.is-style-outline {
  display: inline-flex;
  gap: 4px;
  flex-wrap: wrap;
}

.wp-block-post-terms.is-style-buttons a, .wp-block-post-terms.is-style-outline a {
  background-color: var(--wp--preset--color--contrast-lower);
  color: var(--wp--preset--color--contrast-high);
  text-decoration: none;
  border-radius: 9999px;
  padding: var(--wp--preset--spacing--xxxs) var(--wp--preset--spacing--xs);
  display: inline-block;
}
.wp-block-post-terms.is-style-buttons a:hover, .wp-block-post-terms.is-style-outline a:hover {
  opacity: 0.9;
}
.wp-block-post-terms.is-style-buttons .wp-block-post-terms__separator, .wp-block-post-terms.is-style-outline .wp-block-post-terms__separator {
  display: none;
}
.wp-block-post-terms.is-style-outline a {
  background-color: transparent;
  color: var(--wp--preset--color--contrast-high);
  border: 2px solid var(--wp--preset--color--contrast-low);
  padding: var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxs);
}

.wp-block-quote.is-large:not(.is-style-plain) p,
.wp-block-quote.is-style-large:not(.is-style-plain) p {
  font-style: normal;
  font-size: var(--wp--preset--font-size--xl);
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.wp-block-search {
  max-width: 100%;
}
.wp-block-search__button {
  background: none;
}
.wp-block-search__button.has-icon {
  margin: 0;
  border: 0;
  padding: var(--wp--preset--spacing--xxxxs);
}
.wp-block-search__inside-wrapper {
  background-color: var(--wp--preset--color--white);
  padding: var(--wp--preset--spacing--xxxs) var(--wp--preset--spacing--xxxs) var(--wp--preset--spacing--xxxs) var(--wp--preset--spacing--xxs);
}
@media (min-width: 64rem) {
  .wp-block-search__inside-wrapper {
    padding: var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxxs);
  }
}
.wp-block-search__input {
  background: none;
  font-size: inherit;
}

.is-menu-open.has-modal-open .wp-block-search {
  width: 100%;
}

.wp-block-term-description > * {
  margin-block-start: 0;
  margin-block-end: 0;
}
.wp-block-term-description > * + * {
  margin-block-start: var(--wp--preset--spacing--component-padding);
}
