.wp-block-button {

	&.is-style-outline {
		color: var(--wp--preset--color--contrast-high);
	}

	&.is-style-underline {
		
		> .wp-block-button__link {
			background-color: transparent;
			color: var(--wp--preset--color--contrast-high);
			text-decoration: underline;
		}
	}
}
