.wp-block-button {
  &.is-style-underline {
    > .wp-block-button__link {
      background-color: transparent;
      color: var(--wp--preset--color--contrast-high);
      text-decoration: 1px underline;
    }
  }
}
