@use "./base" as *;

.wp-block-button {
  color: var(--wp--preset--color--bg);

  &__link {
    // override inline default
    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: inherit;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &.is-style-underline {
    .wp-block-button__link {
      &:hover {
        text-decoration-thickness: 2px;
        opacity: 1;
      }
    }
  }
}
