@use "./base" as *;

.wp-block-search {
	max-width: 100%;

	&__button {
		background: none;

		&.has-icon {
			margin: 0;
			border: 0;
			padding: var(--wp--preset--spacing--xxxxs);
		}
	}

	&__inside-wrapper {
		background-color: var(--wp--preset--color--white);
		padding:
			var(--wp--preset--spacing--xxxxs)
			var(--wp--preset--spacing--xxxxs)
			var(--wp--preset--spacing--xxxxs)
			var(--wp--preset--spacing--xxxs);
	}

	&__input {
		background: none;
	}
}

.is-menu-open.has-modal-open .wp-block-search {
	width: 100%;
}
