@use "./base" as *;

.wp-block-search {
  max-width: 100%;

  &__button {
    background: none;

    &.has-icon {
      margin: 0;
      border: 0;
      padding: var(--wp--preset--spacing--10);
    }
  }

  &__inside-wrapper {
    background-color: var(--wp--preset--color--white);
    margin-top: 0;
    padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--20)
      var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);

    @media (min-width: 64rem) {
      padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--10)
        var(--wp--preset--spacing--10) var(--wp--preset--spacing--20);
    }
  }

  &__input {
    background: none;
    font-size: inherit;
  }
}

.is-menu-open.has-modal-open .wp-block-search {
  width: 100%;
}
