.wp-block-search {
	max-width: 100%;
}

.wp-block-search__button {
	background: none;
}

.wp-block-search__button.has-icon {
	margin: 0;
	border: 0;
}

.wp-block-search__inside-wrapper {
	background-color: var(--wp--preset--color--white);
}

.wp-block-search__input {
	background: none;
}

.is-menu-open.has-modal-open .wp-block-search {
	width: 100%;
}
