.wp-block-post-author {

	.avatar,
	&__avatar {
		border-radius: inherit;
	}

	&__avatar {
		display: inline-flex;
	}

	&.is-content-hidden {

		.wp-block-post-author__avatar {
			margin-right: 0;
		}

		.wp-block-post-author__content {
			display: none;
		}
	}
}
