@use "./base" as *;

.wp-block-post-terms {
  &.is-style-buttons a {
    background-color: var(--wp--preset--color--contrast-lower);
    padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
  }

  &.is-style-outline a {
    background-color: transparent;
    border: 2px solid var(--wp--preset--color--contrast-low);
    padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--30);
  }

  &.is-style-buttons,
  &.is-style-outline {
    a {
      color: var(--wp--preset--color--contrast-high);
      text-decoration: none;
      border-radius: 9999px;
      display: inline-block;

      &:hover {
        opacity: 0.9;
      }
    }

    .wp-block-post-terms__separator {
      display: none;
    }
  }
}
