<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group"><!-- wp:heading {"fontSize":"xxxl"} -->
<h2 class="has-xxxl-font-size">Not Found</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>We couldn't find what you're looking for.</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></main>
<!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->