@use "../blocks/author/theme" as author;
@use "../blocks/button/theme" as button;
@use "../blocks/cover/theme" as cover;
@use "../blocks/embed/theme" as embed;
@use "../blocks/featured-image/theme" as featured-image;
@use "../blocks/gallery/theme" as gallery;
@use "../blocks/image/theme" as image;
@use "../blocks/media-text/theme" as media-text;
@use "../blocks/navigation/theme" as navigation;
@use "../blocks/pagination/theme" as pagination;
@use "../blocks/post-comments-form/theme" as post-comments-form;
@use "../blocks/post-navigation/theme" as post-navigation;
@use "../blocks/post-terms/theme" as post-terms;
@use "../blocks/quote/theme" as quote;
@use "../blocks/search/theme" as search;
@use "../blocks/term-description/theme" as term-description;
@use "../blocks/video/theme" as video;
