[class*="radius-"] > img {
	border-radius: inherit;
}

@media (max-width: 600px) {

	.entry-content {

		// make sure left- or right-aligned content
		// is not floated on small screens
		.alignright,
		.alignleft {
			float: none;
			margin-inline-start: 0;
		}
	}
}

.wp-element-caption,
.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-gallery figcaption,
.wp-block-image figcaption,
.wp-block-table figcaption,
.wp-block-video figcaption {
	margin-bottom: 0;
	color: var(--wp--preset--color--contrast-medium);
	font-size: var(--wp--preset--font-size--sm);

	a {
		color: inherit;
	}
}

.wp-element-caption,
.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-image figcaption,
.wp-block-table figcaption,
.wp-block-video figcaption {
	margin-top: var(--wp--preset--spacing--xxs);
}

.wp-block-gallery figcaption {
	margin-top: calc((-1 * var(--wp--style--block-gap)) + var(--wp--preset--spacing--xxs));
}
