.radius-sm {
	border-radius: var(--wp--custom--radius-sm);
}

.radius-md {
	border-radius: var(--wp--custom--radius-md);
}

.radius-lg {
	border-radius: var(--wp--custom--radius-lg);
}

.radius-50\% {
	border-radius: 50%;
}

.shadow-xs {
	box-shadow: var(--wp--custom--shadow-xs);
}

.shadow-sm {
	box-shadow: var(--wp--custom--shadow-sm);
}

.shadow-md {
	box-shadow: var(--wp--custom--shadow-md);
}

.shadow-lg {
	box-shadow: var(--wp--custom--shadow-lg);
}

.shadow-xl {
	box-shadow: var(--wp--custom--shadow-xl);
}

.shadow-none {
	box-shadow: none;
}

.text-nowrap {
	white-space: nowrap;
}

.margin-0 {
	margin: 0;
}

.is-hidden {
	display: none;
}

.is-hidden-on-mobile {

	@media (max-width: 781px) {
		display: none;
	}
}

.is-hidden-on-desktop {

	@media (min-width: 782px) {
		display: none;
	}
}
