.wp-block-query-pagination {
  &.is-style-buttons {
    .page-numbers,
    .wp-block-query-pagination-previous,
    .wp-block-query-pagination-next {
      background-color: var(--wp--preset--color--contrast-lower);
      color: var(--wp--preset--color--contrast-high);
      text-decoration: none;
      border-radius: var(--wp--custom--radius-lg);
      padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
      display: inline-block;
      margin: 0;
    }
  }
}
