.is-style-buttons {

	.page-numbers,
	.wp-block-query-pagination-previous,
	.wp-block-query-pagination-next {
		background-color: var(--wp--preset--color--contrast-lower);
		color: var(--wp--preset--color--contrast-high);
		text-decoration: none;
		border-radius: var(--wp--custom--radius-lg);
		padding: var(--wp--custom--space-xxxs) var(--wp--custom--space-xs);
		display: inline-block;
		margin: 0;
	}
}
