@use "./base" as *;

.wp-block-query-pagination {

	&.is-style-buttons {

		.page-numbers,
		.wp-block-query-pagination-previous,
		.wp-block-query-pagination-next {

			&:hover {
				text-decoration: none;
			}
		}

		.page-numbers.current {
			background-color: var(--wp--preset--color--contrast-high);
			color: var(--wp--preset--color--contrast-lower);
		}
	}
}
